<!doctype html>
<html>
<head>
<meta charset="utf-8">
<head>
  <meta charset="UTF-8">
  <title>信息管理平台</title>
  {include file="public:css" /}
  <style type="text/css">
        body{background-color: #eee}
    .btn-icon{ font-size: 12px; margin: 0px 5px; }
  </style>
</head>
<body>
<!--------头部开始-------------->

<div class="well">

    <div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title text-center">实名认证</div>
		</div>

		<div class="panel-body">
	    	<div class="help_box" style="margin: 0px; padding: 10px 10px 10px 20px; color: rgb(102, 102, 102); line-height: 18px; font-family: Arial, Verdana, 宋体; font-size: 12px; white-space: normal; background-color: rgb(255, 255, 255);">
				<table class="">
					<tbody>
						<tr>
							<td >
								<div style="width:100px; text-align:center; margin: 5px; display:inline-block;" class="goods_xc">
									身份证正面：
								</div>
							</td>
							<td style="padding-right: 300px;">
								<div style="width:100px; text-align:center; margin: 5px; display:inline-block;" class="goods_xc">
									<img width="300" height="300" src="{$card.front_pic}">
								</div>
							</td>
							<td>
								<div style="width:100px; text-align:center; margin: 5px; display:inline-block;" class="goods_xc">
									身份证反面：
								</div>
							</td>
							<td style="padding-right: 300px;">
								<div style="width:100px; text-align:center; margin: 5px; display:inline-block;" class="goods_xc">
									<img width="300" height="300" src="{$card.back_pic}">
								</div>
							</td>
							<td>
								<div style="width:100px; text-align:center; margin: 5px; display:inline-block;" class="goods_xc">
									手持身份证正面：
								</div>
							</td>
							<td style="padding-right: 300px;">
								<div style="width:100px; text-align:center; margin: 5px; display:inline-block;" class="goods_xc">
									<img width="300" height="300" src="{$card.pic}">
								</div>
							</td>
						</tr>
						<tr>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>

</html>