<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>信息管理平台</title>
	{include file="public:css" /}
</head>
<body>
<div class="well-lg" >
    <form class="form-horizontal" id="user_form">
        <div class="form-group">
            <label for="password" class="col-xs-4 control-label text-right">旧密码:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" rows="4" id="oldpassword" name="oldpassword" value="" placeholder="请输入原来密码">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-xs-4 control-label text-right">新密码:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" rows="4" id="password" name="password" value="{$data.password}" placeholder="请输入要使用的新密码">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <button type="button" class="btn btn-primary pull-right" id='submit' >保存</button>
            </div>
        </div>
    </form>
</div>
	{include file="public:js" /}
    <script type="text/javascript">
        $(function(){
            $('#submit').click(function(event) {
                var password = $.trim($('#password').val());
                if(password==''){
                    layer.msg('新密码不能为空', {icon: 2}); 
                }else{
                    $.ajax({
                        url: "{:url('changePassword')}",
                        type: 'POST',
                        dataType: 'json',
                        data: $('#user_form').serialize(),
                        success: function(data){
                            if( data.code ){

                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭 
                            }else{
                                layer.msg(data.msg, {icon: 2}); 
                            }
                        }
                    })
                }
            });
        })
    </script>
</body>
</html>