<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息管理平台</title>
    {include file="public:css" /}
    <style type="text/css">
        html{background-color: #f5f5f5}
        .table thead {background-color: #ccc;}


    </style>
</head>
<body>
    <div class="well well-sm" >
        <div id="toolbar">
            <!-- <button id="add" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> 搜索
            </button> -->
            <button class="btn btn-warning myrefresh">
                <i class="glyphicon glyphicon-refresh"></i> 更新
            </button>
        </div>
        <table class="table text-center table-hover table-condensed" data-toolbar="#toolbar" data-toggle="table" data-sort-name="id" data-sort-order="desc" data-url="{:url('index')}" data-side-pagination="server" data-pagination="true" data-page-list="[10, 20, 50, 100, 200]" data-show-refresh="false" data-search="false" data-show-export="true" data-filter-control="true" data-filter-show-clear="true" >
            <thead>
                <tr>
                    <th data-halign="center" data-field="id" data-filter-control="input" >ID</th>
                    <th data-halign="center" data-field="user_id" data-filter-control="input" >申请人</th>
                    <th data-halign="center" data-field="user_money" data-filter-control="input" >申请金额</th>
                    <th data-halign="center" data-field="add_time" data-filter-control="input" >添加时间</th>
                    <th data-halign="center" data-field="remark" data-filter-control="input" >备注</th>
                    <th data-halign="center" data-field="update_admin_id" data-filter-control="input" >审核人</th>
                    <th data-halign="center" data-field="update_time" data-filter-control="input" >审核时间</th>
                    
                    <th data-halign="center" data-field="status" data-filter-control="input" >审核状态</th>
                    <th data-halign="center" data-field="operate" data-formatter="operateFormatter" data-events="operateEvents" >操作</th>
                </tr>
            </thead>
        </table>
    </div>
    {include file="public:js" /}
    <script type="text/javascript">
        function statusFormatter(value, row, index) {
            
        }

        function operateFormatter(value, row, index) {
            return [
                    '<a href="javascript:void(0);" class="btn-icon edit btn btn-sm btn-primary" title="操作">操作</a>',
                ].join('');
        }

        window.operateEvents = {
            
            // 操作
            'click .edit': function (e, value, row, index) {
                
                layer.open({
                    title:'操作',
                    type: 2,
                    area: ['400px', '600px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: "{:url('edit')}"+"?id="+row.id,
                    end: function(){
                        //$(".table").bootstrapTable('refresh');
                    }
                });
            },
        };

        $(function(){
            

            //更新
            $('.myrefresh').click(function(event) {
                $(".table").bootstrapTable('refresh');
            });

            //批量删除
            $("#delete_more").click(function(event) {
              var obj = $(".table").bootstrapTable('getSelections');
              var str = '';
              for ( var o in obj) {
                str = str + obj[o].mobile + ",";        
              };  


         

              if( str!='' ){
                //询问框
                layer.confirm('您确定要批量删除么？', {
                  btn: ['确定','取消'] //按钮
                }, function(index){
                    layer.close(index);

                    $.ajax({
                        url: "{:url('deleteLog')}",
                        type: 'POST',
                        dataType: 'json',
                        data: {id: str},
                        success: function(data){
                            if( data.code ){
                                
                                $(".table").bootstrapTable('refresh');
                            }else{
                                layer.msg(data.msg, {icon: 2}); 
                            }

                        }
                    })
                }, function(){
                  
                });

                
              }else{
                layer.alert('请选择需要删除的!');
              }
            });

            

        })

    </script>
</body>
</html>