<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>信息管理平台</title>
	{include file="public:css" /}
	<style type="text/css">
        html{background-color: #f5f5f5}
		.btn-icon{ font-size: 12px; margin: 0px 5px; }
	</style>
</head>
<body>
	<div class="well well-sm" >
		<div id="toolbar">
            <button id="add" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> 新增
            </button>
            <button id="delete_more" class="btn btn-danger">
                <i class="glyphicon glyphicon-remove"></i> 批量删除
            </button>
            <!--<form action="{:url('test')}" class="navbar-form form-inline" method="post" >-->
                <!--<div class="form-group">-->
                    <!--<label class="control-label" for="input-mobile">手机号码</label>-->
                    <!--<div class="input-group">-->
                        <!--<input type="text" name="num" value="" placeholder="" id="input-mobile" class="form-control">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-search"></i> 筛选</button>-->
                <!--</div>-->
            <!--</form>-->
            <!-- <button class="more_add btn btn-primary "><i class="glyphicon glyphicon-import"></i> 批量导入</button> -->
        </div>
		<table class="table text-center table-hover table-condensed" data-toolbar="#toolbar" data-toggle="table" data-sort-name="id" data-sort-order="desc" data-url="{:url('index')}" data-side-pagination="server" data-pagination="true" data-page-list="[10, 20, 50, 100, 200]" data-show-refresh="true" data-search="true" data-show-export="true" data-filter-control="true" data-filter-show-clear="true" >
            <thead>
                <tr>
                    <th data-halign="center" data-field="state" data-checkbox="true" ></th>
                    <th data-halign="center" data-field="id" data-filter-control="input" >ID</th>
                    <th data-halign="center" data-field="name_code" data-filter-control="input" >快递名称</th>
                    <th data-halign="center" data-field="sn" data-filter-control="input" >快递单号</th>
                    <th data-halign="center" data-field="userid" data-filter-control="input" >查询人</th>
                    <th data-halign="center" data-field="add_time" data-filter-control="input" >添加时间</th>
                    <th data-halign="center" data-field="status" data-filter-control="input" >快递状态</th>
                    <th data-halign="center" data-field="update_time" data-filter-control="input" >修改时间</th>
                    <th data-halign="center" data-field="update_userid" data-filter-control="input" >修改人</th>
                    <th data-halign="center" data-field="operate" data-formatter="operateFormatter" data-events="operateEvents" >操作</th>
                </tr>
            </thead>
        </table>
    </div>
	{include file="public:js" /}
	<script type="text/javascript">
        function urlFormatter(value, row, index) {
            return [
                    value,'<a href="javascript:void(0);" class="btn-icon btn btn-sm btn-warning link" title="访问"><i class="fa fa-link"></i>访问</a> ',
                ].join('');

        }
        window.urlEvents = {
            // 链接
            'click .link': function (e, value, row, index) {
            var url = value;
            if(url.indexOf('http') == 0 ){
                window.open(url);
            }
            else{
                layer.alert('请确保网址开头有http://或者https://');
            }

            },
        };

		function operateFormatter(value, row, index) {
            var str='';
            if(row.status !='无轨迹'){
                str += '<a href="javascript:void(0);" class="btn btn-sm btn-info send" title="物流详情"><i class="fa fa-send"></i>物流详情</a> ';
            }
            else{
                str += '<a href="javascript:void(0);" class="btn-icon edit btn btn-sm btn-primary" title="编辑"><i class="fa fa-edit"></i>编辑</a> ';
                str += '<a href="javascript:void(0);" class="btn-icon remove  btn btn-sm btn-danger" title="删除"><i class="fa fa-remove"></i>删除</a> ';
            }
            //alert(row.update_userid);
            if(row.update_userid !=null){
                str += '<a href="javascript:void(0);" class="btn-icon log  btn btn-sm btn-default" title="记录"><i class="fa fa-list"></i>记录</a> ';
            }
			/*return [
                    '<a href="javascript:void(0);" class="btn btn-sm btn-success send" title="物流详情"><i class="fa fa-send"></i>物流详情</a> <a href="javascript:void(0);" class="btn-icon edit btn btn-sm btn-primary" title="编辑"><i class="fa fa-edit"></i>编辑</a> <a href="javascript:void(0);" class="btn-icon remove  btn btn-sm btn-danger" title="删除"><i class="fa fa-remove"></i>删除</a> <a href="javascript:void(0);" class="btn-icon log  btn btn-sm btn-default" title="记录"><i class="fa fa-list"></i>记录</a>',
                ].join('');*/
            return str;

        }

        window.operateEvents = {

        	// 记录
            'click .log': function (e, value, row, index) {
                //var url = $(this).data('url');
                var url = "{:url('logOne')}?kd_id="+row.id;
                var title = row.id+"更改记录";
                var arr = new Array();

                $(window.parent.document).find(".page-tabs-content a").each(function(index){
                    arr[index] = $(this).data('id');
                });
                //获取导航index
                var weizhi = $.inArray( url, arr );
                if(weizhi < 0 ){

                    $(window.parent.document).find(".page-tabs-content a").removeClass('active');
                    $(window.parent.document).find(".page-tabs-content").append('<a href="javascript:;" class="J_menuTab active" data-id="'+url+'">'+title+' <i class="fa fa-times-circle"></i></a>');

                    $(window.parent.document).find(".J_mainContent iframe").css('display','none');
                    $(window.parent.document).find(".J_mainContent").append('<iframe class="J_iframe" name="iframeUid0" width="100%" height="100%" src="'+url+'" frameborder="0" data-id="'+url+'" seamless></iframe>');
                }
                else{
                    $(window.parent.document).find(".page-tabs-content a").removeClass('active');
                    $(window.parent.document).find(".J_mainContent iframe").css('display','none');
                    $(window.parent.document).find(".J_mainContent iframe:eq("+weizhi+")").css('display','block');
                    $(window.parent.document).find(".page-tabs-content a:eq("+weizhi+")").addClass('active');
                }
            	/*layer.open({
                    title:'编辑',
                    type: 2,
                    area: ['400px', '300px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: "{:url('edit')}"+"?id="+row.uid,
                    end: function(){
                        $(".table").bootstrapTable('refresh');
                    }
                });*/
            },

            // 物流详情
            'click .send': function (e, value, row, index) {
                layer.open({
                    title:'物流详情',
                    type: 2,
                    area: ['520px', '360px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: "{:url('getStatusInfo')}?id="+row.id,

                });
            },

            // 编辑
            'click .edit': function (e, value, row, index) {
                layer.open({
                    title:'编辑',
                    type: 2,
                    area: ['400px', '360px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: "{:url('edit')}?id="+row.id,
                    end: function(){
                        $(".table").bootstrapTable('refresh');
                    }
                });
            },

            // 删除
            'click .remove': function (e, value, row, index) {
            	$.ajax({
            		url: "{:url('delete')}",
            		type: 'POST',
            		dataType: 'json',
            		data: {id: row.id},
            		success: function(data){
            			if( data.code ){
            				$(".table tr[data-index="+index+"]").remove();
            			}else{
            				layer.msg(data.msg, {icon: 2});
            			}

            		}
            	})
            },
        };

        $(function(){
        	$('#add').click(function(event) {
        		layer.open({
                    title:'新增',
                    type: 2,
                    area: ['400px', '360px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: "{:url('edit')}",
                    end: function(){
                        $(".table").bootstrapTable('refresh');
                    }
                });
        	});

            //批量删除
            $("#delete_more").click(function(event) {
              var obj = $(".table").bootstrapTable('getSelections');
              var str = '';
              for ( var o in obj) {
                str = str + obj[o].id + ",";
              };
              if( str!='' ){
                //询问框
                layer.confirm('您确定要批量删除么？', {
                  btn: ['确定','取消'] //按钮
                }, function(index){
                    layer.close(index);

                    $.ajax({
                        url: "{:url('delete')}",
                        type: 'POST',
                        dataType: 'json',
                        data: {id: str},
                        success: function(data){
                            if( data.code ){

                                $(".table").bootstrapTable('refresh');
                            }else{
                                layer.msg(data.msg, {icon: 2});
                            }

                        }
                    })
                }, function(){

                });


              }else{
                layer.alert('请选择需要删除的!');
              }
            });


            $('input[name=btSelectAll]').after(" 全选 ");

            //添加到导航上面
            $('.more_add').click(function(){
                layer.open({
                    title:'批量添加',
                    type: 2,
                    area: ['400px', '300px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: "{:url('moreAdd')}",
                    end: function(){
                        $(".table").bootstrapTable('refresh');
                    }
                });
                /*var url = $(this).data('url');
                var title = $(this).data('title');
                var arr = new Array();

                $(window.parent.document).find(".page-tabs-content a").each(function(index){
                    arr[index] = $(this).data('id');
                });
                //获取导航index
                var weizhi = $.inArray( url, arr );
                if(weizhi < 0 ){

                    $(window.parent.document).find(".page-tabs-content a").removeClass('active');
                    $(window.parent.document).find(".page-tabs-content").append('<a href="javascript:;" class="J_menuTab active" data-id="'+url+'">'+title+' <i class="fa fa-times-circle"></i></a>');

                    $(window.parent.document).find(".J_mainContent iframe").css('display','none');
                    $(window.parent.document).find(".J_mainContent").append('<iframe class="J_iframe" name="iframeUid0" width="100%" height="100%" src="'+url+'" frameborder="0" data-id="'+url+'" seamless></iframe>');
                }
                else{
                    $(window.parent.document).find(".page-tabs-content a").removeClass('active');
                    $(window.parent.document).find(".J_mainContent iframe").css('display','none');
                    $(window.parent.document).find(".J_mainContent iframe:eq("+weizhi+")").css('display','block');
                    $(window.parent.document).find(".page-tabs-content a:eq("+weizhi+")").addClass('active');
                }
*/
            });
        })

	</script>
</body>
</html>