.animated{padding:10px 20px;}
.sms-status{position:relative; width:180px;display: block;line-height: 34px;float:right;margin-left:20px;}
.sms-status .txt{position:relative; width:60px;display: block;line-height: 34px;float:left;text-align: right;}
.sms-status .select{position:relative; width:120px;display: block;line-height: 34px;float:right;}
* {margin:0;padding:0;font-family:"microsoft yahei";font-size:14px;margin:0 auto;}
/* search-box */
.box-search{padding:10px 5px;height:35px;padding-bottom:40px;}
.box-search .company_title{padding-right:10px;font-weight:100;}
.box-search .company_laber{padding:0 10px;font-weight:100;}
.box-search .company_date{margin-left:10px;}
.box-search .search-sms{margin-left:14px;float:left;}
.box-search .search-text{margin-left:14px;width:130px;float:left;}
.box-search .search-status{width:300px;float:left;}
.box-search .search-status-label{margin:0px 1em;line-height:34px;height:34px;float:left;}
.box-search .search-status-select{width:150px;float:left;}

/* content-box */
.box-content{margin:10px auto;min-height:370px;}
.box-content ul{text-align:center;margin:0;padding:0;}
.box-content li{text-align:left;font-size:12px;list-style:none;float:left;position:relative;height:130px;margin-top:10px;}
.dropdown-menu li{height: 20px!important;}

.data-list{position: relative;width:100%;float:left;}
.one {width:1000px;height:1000px;margin:0 auto;}

.top-tel {width:190px;height:40px;padding-left:80px;background:url(../img/sms/icon.png) 0 -60px no-repeat;font-size:14px;color:#fff;line-height:40px;text-align:left;}

.box {width:291px;height:107px;margin-top:35px;border:1px solid #c0e2f1;box-sizing:border-box;position:relative;background:#fff;transition:all 0.5s;-webkit-transition:all 0.5s;float:left;margin-right:40px;}
.box .img {width:104px;height:107px;position:absolute;z-index:2;transition:all 0.5s;-webkit-transition:all 0.5s;}
.box .img .yuan {width:79px;height:79px;border-radius:79px;background:url(../img/t.jpg) no-repeat center;margin-top:10px;border:4px solid #fff;box-sizing:border-box;}
.box .txt {width:170px;float:left;margin-left:116px;margin-top:12px;}
.box .txt p {line-height:20px;margin:0px!important;text-align: left!important;}
.yc {width:291px;color:#4f4f4f;border:1px solid #c0e2f1;border-top:none;box-sizing:border-box;position:absolute;left:-1px;top:106px;display:none;background:#eef4fa;z-index:99;}
.yc .yc-z {width:144px;text-align:right;margin-top:10px;margin-bottom:15px;float:left;line-height:20px;}
.yc .yc-y {width:145px;text-align:left;margin-top:10px;margin-bottom:15px;float:left;line-height:20px;}
.box:hover {background:#90c2ee;border:1px solid #c0e2f1;border-bottom:none;box-sizing:border-box;}
.box:hover .img {width:100%;}


.page_next{position: absolute; width: 58px; height:59px; top: 50%;margin-top:-29px; right:20px;background: url(../img/task/task-next-prev.png) -58px 0 no-repeat;z-index: 999;cursor: pointer;}
.page_prev{position: absolute; width: 58px; height:59px; top: 50%;margin-top:-29px; left:20px;background: url(../img/task/task-next-prev.png) 0px 0 no-repeat; z-index: 999;cursor: pointer;}
.data-list{    position: relative; margin: 0 auto; display: block; }

/* btn */
.set_sms{background-color:#86ceed;border-color:#86ceed;color:#fff;}
.set_sms:hover{background-color:#68B2D2}
.top-btn{padding-left:20px;padding-right:20px;}
.btn-white{background-color:#FFF;border-color:#cccccc;color:#333333;}
.btn-white:hover,.btn-white:focus{background-color:#f7f6f6;border-color:#cccccc;color:#333333;}
.btn-select{background-color:#468cc8;border-color:#2f79ba;color:#fff;}
.btn-select:hover,.btn-select:focus{background-color:#4f97d5;color:#fff;}
.btn-print{background-color:#60b761;border-color:#50ac51;color:#fff;}
.btn-print:hover,.btn-print:focus{background-color:#69bd69;color:#fff;}
.btn-down{background-color:#60c0dc;border-color:#4cb8d8;color:#fff;}
.btn-down:hover,.btn-down:focus{background-color:#69c6e1;color:#fff;}
.btn-edit{background-color:#efad57;border-color:#df983b;color:#fff;}
.btn-edit:hover,.btn-edit:focus{background-color:#f4b564;color:#fff;}
.btn-big{padding-left:56px;padding-right:56px;}
.border-radius{border-radius:6px;}
.w50{width:50px!important;}
.w-20{width:20%!important;}
.w-40{width:40%!important;min-width: 180px;}
.w-60{width:60%!important;min-width: 320px;}
.w-80{width:80%!important;}


/* stats-box */
.box-stats{padding:5px 10px;position:absolute;float:left;width:97%;margin-top:10px;bottom:0;background-color:#fff;}
.box-stats .record_stats{line-height:34px;}
.box-stats .record_stats i{color:#f79445;font-style:normal;}
.box-stats .page-value{text-align:center;}

/* content-box */
.box-content{margin:10px auto;min-height:370px;}
.box-content ul{text-align:center;margin:0;padding:0;}
.box-content li{text-align:left;font-size:12px;list-style:none;float:left;position:relative;height:130px;margin-top:10px;}

.sms_info .base{position:relative;padding:10px;float:left;}
.sms_info .base ul{position: relative;margin:0;padding:0;clear:both;}
.sms_info .base li{float:left;list-style:none;margin-bottom:15px;}
.sms_info .base li h3{text-align:center;color:#428bca;}
.sms_info .base li label{font-weight:normal;text-align:right;padding-top:7px;height:30px;overflow: hidden;}
.sms_info .base li .form-control{display:inline-block;width:100%;vertical-align:middle;}
.sms_info .base input,.sms_info .base textarea{border:1px solid #86ceed;border-radius:4px;}
.sms_info .tel textarea{padding-right: 36px;}
.sms_info .customer{width:36px;height:36px;line-height: 36px;position: absolute;top:0px;right:14px;border-top-right-radius: 4px;background-color: #86ceed;color:#fff;text-align: center;cursor: pointer;}
.sms_info .base .textarea-label{width:13.1%;float:left;padding-right:15px;padding-left:15px;min-width:104px;}
.sms_info .base .textarea-content{width:86.9%;float:left;padding-right:8px;padding-left:15px;min-width:200px;}
.sms_info .base .textarea-content textarea{width:100%;}
.sms_info .submit{text-align:center;padding-bottom:40px;}
.sms_info .submit span{margin-right:20px;padding-left:25px;padding-right:25px;}
.sms_info .others{position:relative;padding:20px;float:left;}
.sms_info .sms_config{width:100%;height:240px;border:1px solid #86ceed;border-radius:4px;padding: 10px 0;overflow-y:auto; }
.sms_info .sms_config p{background:url(../img/sms/li.png) 0px 0px no-repeat;padding-left:26px; margin: 5px 5px;cursor:pointer;}
.sms_info .sms_config p.on{background:url(../img/sms/li-on.png) 0px 0px no-repeat;}


.sms_info .sms-header{position: fixed;width:100%;height:50px;line-height:50px;border-bottom: 4px solid #428bca;margin-bottom:16px;float:left;background-color: #fff;z-index: 10000;}
.sms_info .sms-header .title{font-size: 18px;float:left;color: #333333;padding-left:30px;_padding-left: 15px;}
.sms_info .right-close{position:relative;width:36px;height:36px;float: right;margin-right:15px;_margin-right: 7px; top:6px;cursor: pointer;background: url(../img/task/close.png) left top no-repeat;}
.sms_info .glyphicon-user{cursor: pointer;}
.sms_info .nav-tabs>li>a { color: #699ed0!important;}
.sms_info .nav-tabs>li.active>a, .sms_info .nav-tabs>li.active>a:focus, .sms_info .nav-tabs>li.active>a:hover { color: #494949!important;}



.list_content{border:1px solid #86ceed;height:180px;border-radius:5px;padding:10px;font-size:16px;width:100%;overflow-y: auto;}
.list_content li,.list_content ul{list-style: none;padding:0;}
.list_content p{font-size:14px;}
.list_content .time{font-size:10px;padding-left: 10px;}
.list_content .to_tel{font-size:10px;padding:0 10px;background-color: #F8AC59;}
.list_content .status{font-size:10px;padding-left: 10px;color:#999;}
.list_content .status_error{font-size:10px;padding-left: 10px;color:red;}
.list_content .smscontent{font-size:12px;background-color: #c0e2f1; border-radius: 4px; padding: 10px; display: inline-block; color: #0088c4;}




/*弹窗*/
.layui-layer-visitor{border-radius: 10px!important;}
.layui-layer-visitor .layui-layer-content {border-radius: 15px; }
.layui-layer-visitor .layui-layer-setwin .layui-layer-close1 {width:36px;height:36px;float: right;margin-right:5px;_margin-right: 7px; top:-8px;cursor: pointer;background: url(../img/task/close.png) left top no-repeat; }
.layui-layer-visitor .layui-layer-title{border-top-left-radius: 10px!important;border-top-right-radius: 10px!important;height:50px;line-height:50px;border-bottom: #428bca 4px solid; font-size: 20px;font-weight: bold;}

/*上传显示start*/

.uploadify,.swfupload{position: relative; width:100%!important;height:46px!important;padding:0px;vertical-align:middle;border-radius: 4px!important;margin-left:-10px; }
.myup{width:177px!important;height:46px!important;cursor:pointer;background-color: #eea236; border-color: #eea236; color: #FFF; text-align: center;  border-radius: 3px;padding:0px!important;font-size: 18px!important;; font-weight: 400;line-height: 1.3333333!important;; }
.uploadify-queue{ width:84px!important;height:84px!important;position: absolute!important;left: 0px;bottom: 0px;display: none;}
.uploadify2{width:177px!important;height:46px!important;cursor:pointer;background-color: #eea236; border-color: #eea236; color: #FFF; margin-right: 20px; padding-left: 25px; padding-right: 25px; border-radius: 3px;padding: 10px 16px; font-size: 18px; line-height: 1.3333333; } 
.uploadify-queue2{ width:84px!important;height:84px!important;position: absolute!important;left: 0px;bottom: 0px;display: none;}
.uploadify-button-text{font-size: 18px!important;width:100%!important;text-align: center;margin: 0px!important;padding: 0px!important;line-height: 46px!important;}
/*.uploadify-button{position:relative; width:100%;height:34px}
.uploadify-button-text{position: absolute; width:100%;left:0px;bottom:0px;color:#fff;background-color:#f8ac59;text-align:center;margin:0px;border-radius: 4px;}*/
.swfupload{left:0px;top:0px}
/*上传显示end*/

