<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>动态</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />

         <!-- 引入YDUI样式 -->
		<link rel="stylesheet" href="__PUBLIC__/css/ydui.css" />
		<link rel="stylesheet" href="__PUBLIC__/font/iconfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/animate.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/style.css" />
		
		<!-- 引入YDUI自适应解决方案类库 -->
		<script src="__PUBLIC__/js/ydui.flexible.js"></script>
		<style>
			.g-flexview {
				height: auto;
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				margin: 0 auto;
				max-width: 750px;
				min-width: 300px;
			}
		</style>
		
	</head>

	<body class="quitBtn1992">
		
        <header class="navheader">
		    <h1 class="mui-title">动态</h1>
		</header>
		
		<section class="g-flexview">
			<div class="topbt">

                <div class="animated bounceInLeft">
                	
                	<!-- banner -->
					<div class="m-slider" id="J_Slider">
					    <div class="slider-wrapper">
							{volist name="banner" id="banner"}
					        <div class="slider-item">
					            <a href="{$banner.ad_link}"><img src="{$banner.ad_code}"></a>
					        </div>
							{/volist}
					    </div>
					    <div class="slider-pagination"></div><!-- 分页标识 -->
					</div>
					
					<div class="subnav">
						<a href="{:url('ajaxLive')}" class="nav_item">
							<img src="__PUBLIC__/img/Dynamic_live.png.png">
							<p>直播</p>
						</a>
						<a href="{:url('lst')}" class="nav_item">
							<img src="__PUBLIC__/img/Dynamic_new.png.png">
							<p>新闻</p>
						</a>
						<a href="{:url('organize')}" class="nav_item">
							<img src="__PUBLIC__/img/Dynamic_organization.png.png">
							<p>机构</p>
						</a>
					</div>


					<div class="list">
						{volist name="lives" id="lives"}
						<a target="_blank" href="{$lives.link}">
							<div class="playvideo">
								<div class="news_banner playactive">
									<img class="" src="{$lives.thumb}" />
									<figcaption class="img-caption" style="font-size:13px">{$lives.title}</figcaption>
								</div>
							</div>
						</a>
						{/volist}
					</div>

                </div>
            
            </div>
        </section>
        
        <!-- 底部导航 -->
        <nav class="nav-bar">
		    <a href="{:url('Index/index')}" class="nav-item">
		       <span class="icon-xiangmu"></span>
		       <span class="nav-label">项目</span>
		    </a>
			<a href="{:url('Shop/index')}" class="nav-item">
				<span class="icon-shangcheng"></span>
				<span class="nav-label">商城</span>
			</a>
		     <a href="{:url('News/index')}" class="nav-item active">
		     	<span class="icon-tixing"></span>
		        <span class="nav-label">动态</span>
		    </a>
			<a href="{:url('Users/index')}" class="nav-item">
				<span class="icon-wode"></span>
				<span class="nav-label">我的</span>
			</a>
		</nav>
		
		<script src="__PUBLIC__/js/jquery.min.js"></script>
		
		<script src="__PUBLIC__/js/mui.min.js"></script>
		<script src="__PUBLIC__/js/mui.zoom.js"></script>
		<script src="__PUBLIC__/js/mui.previewimage.js"></script>
		<script type="text/javascript">
			mui.init({
				keyEventBind:{
					backbutton:false
				}
			})
		</script>
		<script src="__PUBLIC__/js/ydui.js"></script>
		<script src="__PUBLIC__/js/fastclick.js"></script>
		<script src="__PUBLIC__/js/dropload.min.js"></script>
		<script>
			$(function() {
				//banner
			    $('#J_Slider').slider({
			        speed: 200,
			        autoplay: 2000,
			        lazyLoad: true
			    });
			    //消除IOS延迟
				FastClick.attach(document.body);

                var page = 2;
                // dropload
                $('.topbt').dropload({
                    scrollArea : window,
                    loadDownFn : function(me){
                        $.ajax({
                            type: 'post',
                            url: "{:url('ajaxLive')}",
                            dataType: 'json',
                            data: {'page':page},
                            success: function(data){
                                var result = '';
                                page++;
                                for(var i = 0; i < data.length; i++){
                                    result += '<a target="_blank" href="'+data[i].link+'">'
                                        +'<div class="playvideo">'
                                        +'<div class="news_banner playactive">'
                                        +'<img class="" src="'+data[i].thumb+'" />'
                                        +'<figcaption class="img-caption" style="font-size:13px">'+data[i].title+'</figcaption>'
                                        +'</div>'
                                        +'</div>'
                                        +'</a>'
                                }
                                $('.list').append(result);
                                // 为了测试，延迟1秒加载
                                if (data.length == 0){
                                    // 无数据
                                    me.noData();
                                    // 锁定
                                    me.lock();
                                }
                                // 每次数据加载完，必须重置
                                me.resetload();
                            },
                        });
                    }
                });
			});
		</script>
		
	<script src="__PUBLIC__/js/common.js"></script>
	</body>

</html>