{include file="public:yunying_header" /}
<link href="__PUBLIC__/css/mail.css" rel="stylesheet">
<link href="__PUBLIC__/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
</head>

<body class="animated fadeInRight">
<div class="box-search">
    <div class="pull-left">
        <button class="btn btn-success add" style="margin-left:-6px;" rel="2">发送邮件</button> &nbsp;
        
        
    </div>
    <div class="pull-right">
        <div class="form-inline">
            <div class="form-group">
                <div class="input-prepend input-group">
                    <span class="add-on input-group-addon border-radius"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input class="form-control Wdate wdate border-radius" type="text" name="date" value="" placeholder="按时间段搜索">
                </div>
                <input type="text" name="search" id="searchkw" class="form-control border-radius" style="width:130px;" placeholder="Search" value="">&nbsp;

                <button class="btn btn-select search-record">搜索</button>
                <div class="btn-more">
                    <div class="glyphicon glyphicon-refresh btn-refresh" title="刷新"></div>
                    <div class="glyphicon glyphicon-cog btn-config" title="配置邮箱">{eq name="data.mail" value=""}{$data.mail}<div class="config-tip"><i></i>要先绑定邮箱才能正常使用。</div>{/eq}</div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-content">
        <div class="mail-left">
            <ul class="mail">
            </ul>
        </div>

        <div class="show-content mail-right">

        </div>
</div>
<div class="box-stats">
    <div class="record_stats pull-left"></div>
    <div class="stats_page pull-right">
        <div class="form-inline">
            <span class="page_total"></span>&nbsp;
            <span class="page_now">0</span>/<span class="page_count">0</span> 页&nbsp;
            <button class="btn btn-white page-pre" type="button"><span class="glyphicon glyphicon-triangle-left"></span></button>&nbsp;
            <button class="btn btn-white page-next" type="button"><span class="glyphicon glyphicon-triangle-right"></span></button>&nbsp;&nbsp;跳转到&nbsp;&nbsp;
            <input type="text" class="form-control border-radius w50 page-value">&nbsp;
            <button class="btn btn-select page-jump" type="button">GO</button>
        </div>
    </div>
</div>
{include file="public:js" /}
<script type="text/javascript" src="__PUBLIC__/js/plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript">
        var page_offset = 0;                                //初始页码
        var page_kw = '';                                   //初始搜索
        var page_status = '';                                 //初始城市
        var page_date = '';                                 //初始时间
        var page_count = 0;                                 //初始总数
        var select_all = 0;                                 //判断全选
        init();                                             //初始参数
        $('.Wdate').daterangepicker();                      //双日历
        function init(){
            iWidth = $(window).width();                     //窗口宽度
            iHeight = $(window).height();                   //窗口高度
            layerWidth = '96%';                             //打开档案窗口宽度
            layerHeight = '92%';                            //打开档案高度
            boxWidth = 324;                                 //box宽度
            boxHeight = 100;                                //box高度
            dataCol = 1; 
            //alert(dataCol);
            //窗口可显示列数
            dataRow = parseInt((iHeight - 120) / boxHeight+2);//窗口可显示行数
            //dataCol = dataCol > 4 ? 4 : dataCol;
            dataRow = dataRow < 1 ? 1 : dataRow;
            page_limit = dataCol * dataRow;                 //分页数
            if(page_offset == 0){
                getData();
            }
            var mail_h = (iHeight-130)+"px";         //加载内容高度
            var mail_w = ($(".mail").parent().width()-14)+"px";
            show_h = ((iHeight-130)-220)+"px";
            var mail_left_w = 360;
            var mail_right_w = iWidth-360-50;
            $(".mail-left").css({"width":mail_left_w,'float':'left'});
            $(".mail").css({"height":mail_h,"width":mail_w});
            $(".show-content").css({"height":mail_h,'width':mail_right_w+"px"});
            
        }
        $(window).resize(function() {
            init();                                         //窗口改变时调整参数
        });
        
        //获取邮件发送数据
        function getData(pageStart){
            if (pageStart >= 0) {
                page_offset = pageStart;
            }
            var blayer = layer.load();
            page_now = page_offset + 1;                         //当前页数
            $.ajax({
               type: 'POST',
                url: '{:url('index')}',
               data: {
                    offset: page_offset * page_limit,
                    limit: page_limit,
                    search: page_kw,
                    page_date: page_date,
                },
                success:function(res){
                    var rankstr = '';
                    if(res.total > 0){
                        page_total = res.total;                             //总记录数
                        page_count = Math.ceil(page_total/ page_limit);     //统计页数
                        if (page_offset > page_count) {
                            getData(0);
                        }
                        $('.page_total').text('共'+page_total+'条');
                        $('.page_count').text(page_count);
                        $('.page_now').text(page_now);
                        list_data = ''
                        for(var key in res.rows){
                            if(key==0){
                                var id = res.rows[key].id;
                            }
                            list_data +='<li data-id="'+res.rows[key].id+'">';
                            list_data +='<div class="col-sm-12"><strong>'+res.rows[key].addressee+'<span class="pull-right">'+res.rows[key].add_time+'</span></strong></div>';
                            list_data +='<div class="col-sm-12"><strong>'+res.rows[key].subject+'</strong></div>';
                            list_data +='<div class="col-sm-12">'+res.rows[key].content+'</div>';
                            list_data +='</li>';                            
                        }
                        $('.mail').html(list_data);
                        $('.mail li[data-id='+id+']').addClass('on');
                        showcontent(id);
                    }else{
                       clean_page();
                    }
                    layer.close(blayer);
                },
                error:function(){
                    clean_page();
                    layer.close(blayer);
                }
            });
        }
        //清理记录
        function clean_page(){
            $('.page_total').text('共0条');
            $('.page_count').text(0);
            $('.page_now').text(0);
            $('.mail ul').text('没有找到匹配的记录');
        }
        //上一页
        $('.page-pre').click(function(){
            if (page_offset == 0) {
                layer.msg('已经是第一页了！');
                return;
            }
            page_offset--;
            getData(page_offset);

        })
        //下一页
        $('.page-next').click(function(){
            if (page_offset+1 >= page_count) {
                layer.msg('已经是最后一页了！');
                return;
            }
            page_offset++;
            getData(page_offset);
        })
        //跳转
        $('.page-jump').click(function(){
            jump_page();
        })
        $('.page-value').on('keypress',function(event){
            if(event.keyCode == "13"){
                jump_page();
            }
        })
        function jump_page() {
            go_page = $('.page-value').val() - 1;
            if (go_page >= page_count || go_page < 0) {
                layer.msg('超过总页数');
                return;
            }
            getData(go_page);
        }

        //时间搜索
        $(document).on("apply.daterangepicker",'.wdate',function(res){
            page_date = $(this).daterangepicker().context.value;
            adv_search();
        });
        function adv_search(){
            //page_date = $(this).daterangepicker().context.value;
            page_kw = '';
            page_offset = 0;
            page_count = 0;
            getData();
        }
        //关键词搜索
        $('.search-record').click(function(){
            search_record();
        })
        $('#searchkw').on('keypress',function(event){
            if(event.keyCode == "13"){
                search_record();
            }
        })
        function search_record(){
            page_date = '';
            page_kw = $('#searchkw').val();
            page_offset = 0;
            page_count = 0;
            getData();
        }
        //更新
        $('.btn-refresh').click(function(){
            var page = $('.page_now').text()-1;
            getData(page);
        })
        //单击添加
        $(document).on("click",'.add',function(){
            var index = layer.open({
                type: 2,
                closeBtn:0,
                area: [layerWidth, layerHeight],
                offset: '0px',
                title: false,
                shade: 0.6,
                skin: 'layui-layer-mail',
                content: '{:url('addMail')}',
                end:function(){
                    init();
                }
            });
        });

        
        //配置邮箱
        $(document).on("click",'.btn-config',function(){
            //var id = $(this).parent().data('id');
            var id = $(this).parent().data('id');
            layer.open({
                type: 2,
                area: ['430px', '260px'],
                offset: '20px',
                title: false,
                shade: 0.6,
                closeBtn:false,
                skin: 'layui-layer-mail',
                content: '{:url('setMail')}'+'?id='+id,
            });
        });

        //右边显示内容
        $(document).on("click",'.mail li',function(event){
            var id = $(this).data('id');
            $(this).addClass('on').siblings().removeClass('on');
            showcontent(id)
            });

        //显示函数
        function showcontent(id){
            //var blayer = layer.load();
            $.ajax({
               type: 'POST',
                url: '{:url('getInfo')}',
               data: {
                    id: id,
                },
                success:function(data){
                    if(data.id > 0){
                        var  content_data = '';
                        content_data += '<div class="show-content-main" style="min-height:'+show_h+'">';
                        content_data += '<h2>'+data.subject+'</h2>';
                        content_data += '<div class="show-content-head">';
                        content_data += '<p>收件人：'+data.subject+'</p>';
                        content_data += '<p>发送人：'+data.username+' <span class="pull-right"><i class="glyphicon glyphicon-time"></i>'+data.add_time+'</span></p>';
                        content_data += '<p>发送帐户：'+data.sender+'</p>';
                        content_data += '</div>';
                        content_data += '<div class="show-content-body">'+data.content+'</div>';
                        content_data += '</div>';
                        content_data += '<div class="show-content-files">';
                        if(data.file_num>0){
                            content_data += '<h4 class="bg-info">附件('+data.file_num+'个)</h4>';
                            content_data += '<div class="files">';
                            content_data += '<ul>';
                            for(var o in data.file){
                                content_data += '<li>'+data.file[o].file_name+' ('+data.file[o].file_size+'K) <a href="'+data.file[o].file_url+'" target="_blank">下载</a></li>';
                            }
                            content_data += '</ul>';
                            content_data += '</div>';
                        }
                        content_data += '</div>';
                        $('.show-content').html(content_data);
                    }else{
                       $('.show-content').html('获取不到数据');
                    }
                    //layer.close(blayer);
                },
                error:function(){
                    $('.show-content').html('获取不到数据');
                    //layer.close(blayer);
                }
            }); 
        }
    </script></body>

</html>