@charset "UTF-8";
@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot?t=1496206240876');
	/* IE9*/
	src: url('iconfont.eot?t=1496206240876#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont.woff?t=1496206240876') format('woff'), /* chrome, firefox */
	url('iconfont.ttf?t=1496206240876') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('iconfont.svg?t=1496206240876#iconfont') format('svg');
	/* iOS 4.1- */
	font-weight: normal;
	font-style: normal;
}

[class*=icon-]:before {
	display: inline-block;
	font-family: "iconfont";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jiluban:before { content: "\e6de"; }

.icon-wenhao:before { content: "\e67f"; }

.icon-xianshimima:before { content: "\e8fd"; }

.icon-vip:before { content: "\e60f"; }

.icon-choosehandle:before { content: "\e615"; }

.icon-buoumaotubiao20:before { content: "\e612"; }

.icon-mima:before { content: "\e61a"; }

.icon-more:before { content: "\e658"; }

.icon-phone:before { content: "\e6e8"; }

.icon-back:before { content: "\e625"; }

.icon-shezhi:before { content: "\e609"; }

.icon-yanzheng:before { content: "\e60b"; }

.icon-chongzhi:before { content: "\e618"; }

.icon-xianshimima1:before { content: "\e724"; }

.icon-icon-:before { content: "\e620"; }

