<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息管理平台</title>
    {include file="public:css" /}
    <style type="text/css">
		table,p{
			margin: 50px auto;
			width: 100%;
			font-size: 16px;
		}
		table,th{
			text-align: center;
		}
		td{
			height: 25px;
		}
    </style>
</head>
<body>
    <!-- Main content -->
    <section class="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i>返利币收支表</h3>
            </div>
            <div class="panel-body">
                <div class="navbar navbar-default">
                        <form action="" class="navbar-form form-inline" method="post">
                            <div class="form-group">
								<input type="text" name="timegap" value="{$timegap}" placeholder="日期"  id="add_time" class="form-control">
                            </div>
							<div class="form-group">
								<select name="source" class="form-control">
									<option value="">==所有来源==</option>
                                    <option value="4" {if condition="$source eq 4"} selected="selected" {/if}>推荐返利</option>
                                    <option value="9" {if condition="$source eq 9"} selected="selected" {/if}>分红</option>
								</select>
							</div>
							<div class="form-group">
								<select name="purpose" class="form-control">
									<option value="">==所有用途==</option>
                                    <option value="8" {if condition="$purpose eq 8"} selected="selected" {/if}>转购物币</option>
                                    <option value="7" {if condition="$purpose eq 7"} selected="selected" {/if}>转报单币</option>
                                    <option value="3" {if condition="$purpose eq 3"} selected="selected" {/if}>提现</option>
								</select>
							</div>
							<div class="form-group">
								<input type="text" name="nickname" class="form-control" value="{$nickname}" placeholder="申请人">
							</div>
							<div class="form-group">
								<input type="text" name="pusher" class="form-control" value="{$pusher}" placeholder="审核人">
							</div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 筛选</button>
                            </div>
                            <!--<button type="submit" class="btn btn-default pull-right"><i class="fa fa-file-excel-o"></i>&nbsp;导出excel</button>                               -->
                        </form>
                </div>

                <div class="c-main">

                    <table border="1" cellspacing="0" cellpadding="1" id="table3">
                        <thead>
                            <tr>
                                <th colspan="8">独需商城返利币收支表</th>
                            </tr>
                            <tr>
                                <th>序号</th>
                                <th>时间(发生)</th>
                                <th>来源(+)</th>
                                <th>返利比例</th>
                                <th>用途(-)</th>
                                <th>申请人</th>
                                <th>审核人</th>
                                <th>数量</th>
                            </tr>
                        </thead>
                        <tbody>
                        {volist name="log" id="v" empty="<td colspan='8'>暂无数据</td>"}
                            <tr>
                                <td>{$key+1}</td>
                                <td>{$v.add_time|date="Y-m-d H:i:s",###}</td>
                                <td>
                                    {switch name="v.type"}
                                    {case value="4"}推荐返利{/case}
                                    {case value="9"}分红{/case}
                                    {default /}——
                                    {/switch}
                                </td>
                                <td>
                                    {if condition="$v['points_pusher'] neq ''"}
                                    {$v.points_pusher}
                                    {else/}
                                    ——
                                    {/if}
                                </td>
                                <td>
                                    {switch name="v.type"}
                                    {case value="8"}转购物币{/case}
                                    {case value="7"}转报单币{/case}
                                    {case value="3"}提现{/case}
                                    {default /}——
                                    {/switch}
                                </td>
                                <td>{$v.nickname}</td>
                                <td>{$v.pusher_name}</td>
                                <td>
                                    {switch name="v.type"}
                                    {case value="3"}-{$v.points_rebate}{/case}
                                    {case value="4"}{$v.points_user_pusher}{/case}
                                    {case value="7"}-{$v.points_rebate}{/case}
                                    {case value="8"}-{$v.points_rebate}{/case}
                                    {case value="9"}{$v.points_rebate}{/case}
                                    {default /}
                                    {/switch}
                                </td>
                            </tr>
                        {/volist}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">合计</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>

            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="col-xs-2 col-xs-offset-3 well-sm" >
        <button type="button" class="btn btn-warning btn-block" id="print" onClick="dayin()" >打　印</button>
        <input type="hidden" name="qingkongyema" id="qingkongyema" class="tab" value="清空页码" onClick="pagesetup_null()">
    </div>
    <div class="col-xs-2 col-xs-offset-5 well-sm" >
        <p id="downloadify">请升级flash版本到10以上</p>
    </div>
<!-- /.content-wrapper -->
{include file="public:js" /}
<link href="__PUBLIC__/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/js_to_excel/swfobject.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/plugins/js_to_excel/downloadify.min.js"></script>
<script type="text/javascript">
    function dayin(){
        document.all('qingkongyema').click();
        $("#print").hide();
        $("#think_page_trace_open").hide();
        window.print();
        $("#print").show();
    }
</script>
<!-- 以下代码是导出excel的 -->
        <script type="text/javascript">
            Downloadify.create('downloadify',{
                filename:"订单记录表"+"<?=date('Y-m-d-His')?>"+'.xls',
                data: function(){
                    return $('.c-main').html();
                },
                transparent: false,
                swf: '__PUBLIC__/js/plugins/js_to_excel/downloadify.swf',
                downloadImage: '__PUBLIC__/js/plugins/js_to_excel/download.png',
                width: 100,
                height: 30,
                transparent: true,
                append: false
            });

        </script>
<!-- 以下代码是导出excel的end -->

<script language="VBScript">
    dim hkey_root,hkey_path,hkey_key
    hkey_root="HKEY_CURRENT_USER"
    hkey_path="/Software/Microsoft/Internet Explorer/PageSetup"
    //设置网页打印的页眉页脚为空
    function pagesetup_null()
    on error resume next
    Set RegWsh = CreateObject("WScript.Shell")
    hkey_key="/header" 
    RegWsh.RegWrite hkey_root+hkey_path+hkey_key,""
    hkey_key="/footer"
    RegWsh.RegWrite hkey_root+hkey_path+hkey_key,""
    end function
</script>

<script>
    $(document).ready(function(){
		$('#add_time').daterangepicker({
			format:"YYYY/MM/DD",
			singleDatePicker: false,
			showDropdowns: true,
			minDate:'2017/01/01',
			maxDate:'2030/01/01',
			startDate:'2017/01/01',
            ranges: {
                '今天': [moment(), moment()],
                '昨天': [moment().subtract('days', 1), moment().subtract('days', 1)],
                '最近7天': [moment().subtract('days', 6), moment()],
                '最近30天': [moment().subtract('days', 29), moment()],
                '上一个月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
            },
		    locale : {
	            applyLabel : '确定',
	            cancelLabel : '取消',
	            fromLabel : '起始时间',
	            toLabel : '结束时间',
	            customRangeLabel : '自定义',
	            daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
	            monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],
	            firstDay : 1
	        }
		});
    });
</script>
<script type="text/javascript">
    function Sum(obj,col){
        let i = $(obj).length;
        let num = 0;
        for(let j = 0;j<i;j++){
            if($(obj).eq(j).find('td').eq(col).text() != ''){
                num += parseFloat($(obj).eq(j).find('td').eq(col).text(),10);
            }
        }
        return num;
    }
    $('#table3>tfoot>tr>td').last().html(Sum('#table3>tbody>tr',7))
</script>
</body>
</html>