<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		<!-- 声明文档使用的字符编码 -->
		<meta charset='utf-8'>
		<!-- 优先使用 IE 最新版本和 Chrome -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!-- 页面描述 -->
		<meta name="description" content="不超过150个字符" />
		<!-- 页面关键词 -->
		<meta name="keywords" content="" />
		<!-- 网页作者 -->
		<meta name="author" content="guo,652730268@qq.com" />
		<!-- 搜索引擎抓取 -->
		<meta name="robots" content="index,follow" />
		<!-- 为移动设备添加 viewport -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=3,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
		<!-- `width=device-width` 会导致 iPhone 5 添加到主屏后以 WebApp 全屏模式打开页面时出现黑边 http://bigc.at/ios-webapp-viewport-meta.orz -->

		<!-- iOS 设备 begin -->
		<meta name="apple-mobile-web-app-title" content="标题">
		<!-- 添加到主屏后的标题（iOS 6 新增） -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->

		<!--meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL" -->
		<!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<!-- 设置苹果工具栏颜色 -->
		<meta name="format-detection" content="telphone=no, email=no" />
		<!-- 忽略页面中的数字识别为电话，忽略email识别 -->

		<!-- 启用360浏览器的极速模式(webkit) -->
		<meta name="renderer" content="webkit">
		<!-- 避免IE使用兼容模式 -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- 不让百度转码 -->
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
		<meta name="HandheldFriendly" content="true">
		<!-- 微软的老式浏览器 -->
		<meta name="MobileOptimized" content="320">
		<!-- uc强制竖屏 -->
		<meta name="screen-orientation" content="portrait">
		<!-- QQ强制竖屏 -->
		<meta name="x5-orientation" content="portrait">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- UC应用模式 -->
		<meta name="browsermode" content="application">
		<!-- QQ应用模式 -->
		<meta name="x5-page-mode" content="app">
		<!-- windows phone 点击无高光 -->
		<meta name="msapplication-tap-highlight" content="no">
		<!-- iOS 图标 begin -->
		<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57x57-precomposed.png" />
		<!-- iPhone 和 iTouch，默认 57x57 像素，必须有 -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png" />
		<!-- Retina iPhone 和 Retina iTouch，114x114 像素，可以没有，但推荐有 -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png" />
		<!-- Retina iPad，144x144 像素，可以没有，但推荐有 -->
		<!-- iOS 图标 end -->

		<!-- iOS 启动画面 begin -->
		<link rel="apple-touch-startup-image" sizes="768x1004" href="img/App-ios-logo-152x152.png" />

		<link rel="apple-touch-startup-image" href="img/App-ios-logo-152x152.png" />
		<!-- iPhone/iPod Touch 竖屏 320x480 (标准分辨率) -->
		<link rel="apple-touch-startup-image" sizes="640x960" href="img/App-ios-logo-152x152.png" />
		<!-- iPhone/iPod Touch 竖屏 640x960 (Retina) -->
		<link rel="apple-touch-startup-image" sizes="640x1136" href="img/App-ios-logo-152x152.png" />
		<!-- iPhone 5/iPod Touch 5 竖屏 640x1136 (Retina) -->
		<!-- iOS 启动画面 end -->

		<!-- iOS 设备 end -->
		<meta name="msapplication-TileColor" content="#000" />
		<!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png" />
		<!-- Windows 8 磁贴图标 -->

		<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
		<!-- 添加 RSS 订阅 -->
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
		<!-- 添加 favicon icon -->
		<!-- sns 社交标签 begin -->
		<!-- 参考微博API -->
		<meta property="og:type" content="类型" />
		<meta property="og:url" content="URL地址" />
		<meta property="og:title" content="标题" />
		<meta property="og:image" content="图片" />
		<meta property="og:description" content="描述" />
		<title>收货地址</title>

		<!-- css样式 -->
		<link href="__PUBLIC__/skin/css/weui.min.css" rel="stylesheet">
		<link href="__PUBLIC__/skin/css/jquery-weui.css" rel="stylesheet">
		<link href="__PUBLIC__/skin/font/iconfont.css" rel="stylesheet">
		<link href="__PUBLIC__/skin/css/app.css" rel="stylesheet">

		<!-- 自适应处理页面js -->
		<script src="__PUBLIC__/skin/js/flexible.js"></script>
	</head>

	<body ontouchstart>

		<header class="header">
			<a class="icon-jiantou-left" href="javascript:history.go(-1)"></a>
			<div class="header-title">收货地址</div>
			<a class="txte-right" href="javascript:;" id="save">保存</a>
		</header>

		<div class="set">

			<div class="weui-cells weui-cells_form weui-top">
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">收   件   人</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" id="username" name="consignee" type="text" placeholder="" value="{$address.consignee}">
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">联系电话</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" id="Mobile" type="number" pattern="[0-9]*" placeholder="" required name="mobile" value="{$address.mobile}">
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">所在地区</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" id="end" type="text" placeholder="" required name="address" value="{$address.area}">
					</div>
				</div>
				<div class="weui-cell">
					<div class="weui-cell__hd"><label class="weui-label">街道门号</label></div>
					<div class="weui-cell__bd">
						<input class="weui-input" id="street" type="text" placeholder="" value="{$address.address}">
						<input class="weui-input" id="address_id" type="hidden" placeholder="" value="{$address.address_id}">
					</div>
				</div>
			</div>
			
			<div class="weui-cells weui-cells_form">
			    <div class="weui-cell weui-cell_switch weui-cell-switch">
				    <div class="weui-cell__bd">设置默认地址</div>
				    <div class="weui-cell__ft">
				        <input class="weui-switch" id="tolerate" type="checkbox" {eq name="address['is_default']" value="1" }checked{/eq}>
				    </div>
			    </div>
			</div>

		</div>

		<!-- js -->
		<script src="__PUBLIC__/skin/js/jquery.min.js"></script>
		<script src="__PUBLIC__/skin/js/fastclick.js"></script>
		<script>
			$(function() {
				//消除延迟
				FastClick.attach(document.body);
			});
		</script>
		<script src="__PUBLIC__/skin/js/jquery-weui.js"></script>
		<script src="__PUBLIC__/skin/js/city-picker.js"></script>
		<script>
			$(function() {
				$('#save').click(function(event) {
					var username = $('#username').val();
					    partten = /^[\u4E00-\u9FA5A-Za-z]+$/;
					    Mobile = $('#Mobile').val();
					    reg = /^1[3|4|5|7|8]\d{9}$/;
					    end = $('#end').val();
					    street = $('#street').val();
					    address_id = $('#address_id').val();
					    tolerate = 0;
					    if($('#tolerate').prop('checked')){
					    	tolerate = 1;
					    	console.log('tolerate');
					    }
                    if(username == '') {
						$('#username').focus();
						$.toast('输入姓名', 'text');
						return false;
					} else if(!partten.test(username)) {
						$.toast('输入姓名不正确?', 'text');
						return false;
					} else if(Mobile == '') {
						$('#Mobile').focus();
						$.toast('输入11位数手机号', 'text');
						return false;
					} else if(!reg.test(Mobile)) {
						$.toast('输入手机号码不正确?', 'text');
						return false;
					} else if(end == '') {
						$('#end').focus();
						$.toast('输入所在地区', 'text');
						return false;
					} else if(street == '') {
						$('#street').focus();
						$.toast('输入详情地址', 'text');
						return false;
					} else if(tolerate == '') {
						$('#tolerate').focus();
						$.toast('请选择默认地址', 'text');
						return false;
					} else {
						var data = {
							consignee : username,
							mobile : Mobile,
							address : end,
							street : street,
							is_default : tolerate,
							address_id : address_id,
						};
						$.ajax({
					   		type:"post",
					   		url:"{:url('users/addAddress')}",
						    data: data,
					   		success:function(data){
					   			if(data.code){
									window.location.href="{$referurl}";
								}
								else{
									$.toast(data.msg, 'text');
								}	
					   		},
					   		error:function(msg){
					   			$.toast('请求失败', 'text');
					   		}
					   	});	
				    	//$.toast("保存成功", "text");
					}
				});
				$("#end").cityPicker({
					title: "选择目的地"
				});
			});
		</script>

	</body>

</html>