<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		<!-- 声明文档使用的字符编码 -->
		<meta charset='utf-8'>
		<!-- 优先使用 IE 最新版本和 Chrome -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!-- 页面描述 -->
		<meta name="description" content="不超过150个字符" />
		<!-- 页面关键词 -->
		<meta name="keywords" content="" />
		<!-- 网页作者 -->
		<meta name="author" content="guo,652730268@qq.com" />
		<!-- 搜索引擎抓取 -->
		<meta name="robots" content="index,follow" />
		<!-- 为移动设备添加 viewport -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=3,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
		<!-- `width=device-width` 会导致 iPhone 5 添加到主屏后以 WebApp 全屏模式打开页面时出现黑边 http://bigc.at/ios-webapp-viewport-meta.orz -->

		<!-- iOS 设备 begin -->
		<meta name="apple-mobile-web-app-title" content="标题">
		<!-- 添加到主屏后的标题（iOS 6 新增） -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!-- 是否启用 WebApp 全屏模式，删除苹果默认的工具栏和菜单栏 -->

		<!--meta name="apple-itunes-app" content="app-id=myAppStoreID, affiliate-data=myAffiliateData, app-argument=myURL" -->
		<!-- 添加智能 App 广告条 Smart App Banner（iOS 6+ Safari） -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<!-- 设置苹果工具栏颜色 -->
		<meta name="format-detection" content="telphone=no, email=no" />
		<!-- 忽略页面中的数字识别为电话，忽略email识别 -->

		<!-- 启用360浏览器的极速模式(webkit) -->
		<meta name="renderer" content="webkit">
		<!-- 避免IE使用兼容模式 -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- 不让百度转码 -->
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
		<meta name="HandheldFriendly" content="true">
		<!-- 微软的老式浏览器 -->
		<meta name="MobileOptimized" content="320">
		<!-- uc强制竖屏 -->
		<meta name="screen-orientation" content="portrait">
		<!-- QQ强制竖屏 -->
		<meta name="x5-orientation" content="portrait">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- UC应用模式 -->
		<meta name="browsermode" content="application">
		<!-- QQ应用模式 -->
		<meta name="x5-page-mode" content="app">
		<!-- windows phone 点击无高光 -->
		<meta name="msapplication-tap-highlight" content="no">
		<!-- iOS 图标 begin -->
		<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/skin/apple-touch-icon-57x57-precomposed.png" />
		<!-- iPhone 和 iTouch，默认 57x57 像素，必须有 -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="__PUBLIC__/skin/apple-touch-icon-114x114-precomposed.png" />
		<!-- Retina iPhone 和 Retina iTouch，114x114 像素，可以没有，但推荐有 -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="__PUBLIC__/skin/apple-touch-icon-144x144-precomposed.png" />
		<!-- Retina iPad，144x144 像素，可以没有，但推荐有 -->
		<!-- iOS 图标 end -->

		<!-- iOS 启动画面 begin -->
		<link rel="apple-touch-startup-image" sizes="768x1004" href="__PUBLIC__/skin/img/App-ios-logo-152x152.png" />

		<link rel="apple-touch-startup-image" href="__PUBLIC__/skin/img/App-ios-logo-152x152.png" />
		<!-- iPhone/iPod Touch 竖屏 320x480 (标准分辨率) -->
		<link rel="apple-touch-startup-image" sizes="640x960" href="__PUBLIC__/skin/img/App-ios-logo-152x152.png" />
		<!-- iPhone/iPod Touch 竖屏 640x960 (Retina) -->
		<link rel="apple-touch-startup-image" sizes="640x1136" href="__PUBLIC__/skin/img/App-ios-logo-152x152.png" />
		<!-- iPhone 5/iPod Touch 5 竖屏 640x1136 (Retina) -->
		<!-- iOS 启动画面 end -->

		<!-- iOS 设备 end -->
		<meta name="msapplication-TileColor" content="#000" />
		<!-- Windows 8 磁贴颜色 -->
		<meta name="msapplication-TileImage" content="icon.png" />
		<!-- Windows 8 磁贴图标 -->

		<link rel="alternate" type="application/rss+xml" title="RSS" href="__PUBLIC__/skin/rss.xml" />
		<!-- 添加 RSS 订阅 -->
		<link rel="shortcut icon" type="image/ico" href="__PUBLIC__/skin/favicon.ico" />
		<!-- 添加 favicon icon -->
		<!-- sns 社交标签 begin -->
		<!-- 参考微博API -->
		<meta property="og:type" content="类型" />
		<meta property="og:url" content="URL地址" />
		<meta property="og:title" content="标题" />
		<meta property="og:image" content="图片" />
		<meta property="og:description" content="描述" />
		<title>站内信息</title>
		
		<!-- css样式 -->
		<link href="__PUBLIC__/skin/css/weui.min.css" rel="stylesheet">
		<link href="__PUBLIC__/skin/css/jquery-weui.css" rel="stylesheet">
		<link href="__PUBLIC__/skin/font/iconfont.css" rel="stylesheet">
		<link href="__PUBLIC__/skin/css/mescroll.css" rel="stylesheet">
		<link href="__PUBLIC__/skin/css/app.css" rel="stylesheet">


		<!-- 自适应处理页面js -->
		<script src="__PUBLIC__/skin/js/flexible.js"></script>
	</head>

	<body ontouchstart>
		
		<header class="header">
			<a class="icon-jiantou-left" href="javascript:history.go(-1);"></a>
			<div class="header-title">信息列表</div>
		</header>
        
        <div class="news">
        	
        	<div id="mescroll" class="mescroll">

        		<ul id="dataList" class="data-list">
				</ul>

		    </div>

        </div>

		<!-- js -->
		<script src="__PUBLIC__/skin/js/jquery.min.js"></script>
		<script src="__PUBLIC__/skin/js/mescroll.min.js"></script>
		<script src="__PUBLIC__/skin/js/fastclick.js"></script>
		<script>
			$(function() {
				//消除延迟
				FastClick.attach(document.body);

				
				$('#dataList').on('click', 'li', function(){
					sessionStorage.setItem("backposition", 1);
					var backposition = sessionStorage.getItem("backposition");
					sessionStorage.setItem('backpositionpage', $(this).find('a').data('page'));
				})
				
				var backposition = sessionStorage.getItem("backposition")? 1 : 0;
				if(backposition){
					var datalist = sessionStorage.getItem("datalist");
					document.getElementById("dataList").innerHTML = datalist;
					var mescroll = new MeScroll("mescroll", {
						up: {
							//clearEmptyId: "dataList",
							callback: getListData,
							onScroll : function(mescroll, y, isUp){ 
								sessionStorage.setItem("offsetTop", y);//保存滚动位置
							},
							toTop:{ //配置回到顶部按钮
								src : "__PUBLIC__/skin/img/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
								//offset : 1000
							}
						}
					});
					var y = sessionStorage.getItem("offsetTop");
					mescroll.scrollTo(y, 0);

					var num = sessionStorage.getItem("backpositionpage");
					mescroll.setPageNum(num);
					sessionStorage.removeItem('backposition');
					//sessionStorage.removeItem('oldpage');
				}
				else{
					var mescroll = new MeScroll("mescroll", {
						up: {
							clearEmptyId: "dataList",
							callback: getListData,
							onScroll : function(mescroll, y, isUp){ 
								sessionStorage.setItem("offsetTop", y);//保存滚动位置
							},
							toTop:{ //配置回到顶部按钮
								src : "__PUBLIC__/skin/img/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
								offset : 10
							}
						},
						

					});
				}

				function downCallback(){
					return false;
				}
				function getListData(page) {
					var oldpage = sessionStorage.getItem("page")?sessionStorage.getItem("page"):0;
						
					if((page.num <= oldpage) && backposition ){
						var limun = $('#dataList li').size();
						mescroll.endSuccess(limun); //传参:数据的总数;

					}
					else{
						sessionStorage.setItem("page", page.num);
						getListDataFromNet(page.num, page.size, function(data) {
							if(!data){
								mescroll.endSuccess(0);
								return false;
							}
							mescroll.endSuccess(data.length); //传参:数据的总数; mescroll会自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
							setListData(data);
						}, function() {
							mescroll.endErr();
						});
					}
				}
				/*设置列表数据*/
				function setListData(data) {
					var listDom = document.getElementById("dataList");
					for(var i = 0; i < data.length; i++) {
						var pd = data[i];
						var str = '<a href="' + pd.url + '" data-page="' + pd.page + '">' +
									  '<h4 class="weui-media-box__title">' + pd.title;
							if(!pd.status){
								str +='<span class="weui-badge">new</span>';
							}		  
							str +='</h4>' +
									  '<p class="weui-media-box__desc">' + pd.publish_time + '</p>' +
								   '</a>';
						var liDom = document.createElement("li");
						liDom.innerHTML = str;
						listDom.appendChild(liDom);

					}
					//缓存数据
					sessionStorage.setItem("datalist", listDom.innerHTML);
					//console.log(sessionStorage.getItem("datalist"));
				}
				var dataTag = 1;
				/*联网加载列表数据*/
				function getListDataFromNet(pageNum, pageSize, successCallback, errorCallback) {
					$.ajax({
						type: 'GET',

						url: '{:url("message")}?type={$type}&num=' + pageNum + "&size=" + pageSize,
						dataType: 'json',
						success: function(data) {
							var data = data['lists']; // 数据
							successCallback(data);
						},
						error: errorCallback
					});
				}
				//禁止PC浏览器拖拽图片,避免与下拉刷新冲突;如果仅在移动端使用,可删除此代码
				document.ondragstart = function() {
					return false;
				}
			});

		</script>



	</body>

</html>