<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<title>返利推荐</title>

		<link href="__PUBLIC__/skin/css/ydui.css" rel="stylesheet">
		<link href="__PUBLIC__/skin/css/dropload.css" rel="stylesheet">
		<link href="__PUBLIC__/skin/css/app.css" rel="stylesheet">
		<style>
			.g-flexview {
				height: 100%;
				margin: 0 auto;
				max-width: 750px;
				min-width: 300px;
				padding-top: 1rem;
			}
		</style>

		<script src="__PUBLIC__/skin/js/ydui.flexible.js"></script>
	</head>

	<body>

		<header class="m-navbar">
			<a href="{:url('users/index')}" class="navbar-item"><i class="back-ico"></i></a>
			<div class="navbar-center"><span class="navbar-title">返利推荐</span></div>
		</header>

		<div class="g-flexview">

			<div class="img_box mt clearfix">
				<img src="{$res.src}" alt="">
				<p>扫一扫二维码，加入独需平台</p>
			</div>
			
			<div class="text_box">
				<h2>返利规则：</h2>
				<ul>
					<li>返利规则第一条内容。</li>
					<li>返利规则第二条内容。</li>
					<li>返利规则第三条内容。</li>
				</ul>
			</div>
			
		</div>

		<script src="__PUBLIC__/skin/js/jquery.min.js"></script>
		<script src="__PUBLIC__/skin/js/ydui.js"></script>
		<script src="__PUBLIC__/skin/js/app.js"></script>
		<script src="__PUBLIC__/js/mui.min.js"></script>
		<script>
            mui.init({
                keyEventBind:{
                    backbutton:false
                }
            })
		</script>
		<script src="__PUBLIC__/js/common.js"></script>
	</body>

</html>