<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>分享</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />

		<link rel="stylesheet" href="__PUBLIC__/css/share.css" />
		<link rel="stylesheet" href="__PUBLIC__/font/iconfont.css">

		<!-- 引入YDUI自适应解决方案类库 -->
		<script src="__PUBLIC__/js/ydui.flexible.js"></script>
		<style>
			body{ background: #fff;}
		</style>

	</head>

	<body>
		<header class="navheader">
			<a class="icon-jiantou-copy" href="javascript:history.go(-1)"></a>
			<h1 class="mui-title">{$res.name}</h1>
			<input type="hidden" name="cat_id" value="7">
		</header>

		<section class="my-flexview">
			<div class="shanre">
				<div class="aui-col">
					<img src="{$res.pic}" alt=""/>
				</div>
			</div>
			
		</section>

	</body>

</html>