<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息管理平台</title>
    {include file="public:css" /}
    <style type="text/css">
        body{background-color: #eee}
        .btn-icon{ font-size: 12px; margin: 0px 5px; }
    </style>
</head>
<script type="text/javascript">
    window.UEDITOR_Admin_URL = "__ROOT__public/plugins/Ueditor/";
    var URL_upload = "{$URL_upload}";
    var URL_fileUp = "{$URL_fileUp}";
    var URL_scrawlUp = "{$URL_scrawlUp}";
    var URL_getRemoteImage = "{$URL_getRemoteImage}";
    var URL_imageManager = "{$URL_imageManager}";
    var URL_imageUp = "{$URL_imageUp}";
    var URL_getMovie = "{$URL_getMovie}";
    var URL_home = "{$URL_home}";
</script>

{load href="__ROOT__public/plugins/Ueditor/ueditor.config.js"/}
{load href="__ROOT__public/plugins/Ueditor/ueditor.all.js"/}


<body>
<div class="wrapper">
    <section class="content">
        <div class="col-md-12">
            <div class="col-md-12">

                <div class="box box-info">
                    <div class="box-header with-border">
                        <br>
                        <!-- <h3 class="box-title">发布文章</h3>
                        <a href="{:url('Article/articleList')}" data-toggle="tooltip" title="" class="btn btn-default pull-right" data-original-title="返回"><i class="fa fa-reply"></i></a> -->
                    </div>
                    <form class="form-horizontal" action="{:url('Share/shareHandle')}" enctype="multipart/form-data" id="add_post" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{$info.name}" name="name" >
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<label for="inputEmail3" class="col-sm-2 control-label">文章类别</label>-->
                                <!--<div class="col-sm-4">-->
                                    <!--<select class="small form-control" name="cat_id" id="cat_id">-->
                                        <!--<option value="0">选择分类</option>-->
                                        <!--{$cat_select}-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label for="text" class="col-sm-2 control-label">缩略图</label>
                                <div class="col-sm-8">
                                    <input type="text" id="imagetext" name="pic" value="{$info.pic}">
                                    <input type="button" class="button" onClick="GetUploadify(1,'imagetext','org','')"  value="上传图片"/>
                                    <b style="color:red">图片限宽度750px,高度1334px</b>
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<label for="text" class="col-sm-2 control-label">seo关键字</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<input type="text" class="form-control" name="keywords"  value="{$info.keywords}">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="text" class="col-sm-2 control-label">外部链接</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<input type="text" class="form-control" name="link"  value="{$info.link}">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="text" class="col-sm-2 control-label">发布时间</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<div class="input-prepend input-group">-->
                                    <!--<span class="add-on input-group-addon">-->
                                            <!--<i class="glyphicon glyphicon-calendar fa fa-calendar">-->
                                            <!--</i>-->
                                    <!--</span>-->
                                        <!--<input type="text" class="form-control" id ="publish_time" name="publish_time"  value="{$info.publish_time|date="Y-m-d H:i:s",###}">-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="text" class="col-sm-2 control-label">是否显示</label>-->
                                <!--<div class="col-sm-5">-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<label><input type="radio" name="is_open" value="1"{if condition="$info['is_open'] neq '0'"} checked="checked"{/if}> 显示 </label>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-3">-->
                                        <!--<label><input type="radio" name="is_open" value="0"{if condition="$info['is_open'] eq '0'"} checked="checked"{/if}> 不显示</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label class="control-label col-sm-2">摘要</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<textarea class="form-control" name="desc" title="">{$info.desc}</textarea>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">二维码位置</label>
                                <div class="col-sm-4">
                                    <select class="small form-control" name="water">
                                        <option value="1">左下角</option>
                                        <option value="2">下居中</option>
                                        <option value="3">居中</option>
                                        <option value="4">右下角</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">内容</label>
                                <div class="col-sm-8">
                                    <textarea class="span12 ckeditor" id="post_content" name="content" title="">
                                        {$info.content}
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">
                                    <input type="hidden" name="act" value="{$act}">
                                    <input type="hidden" name="share_id" value="{$info.share_id}"></label>
                                <div class="col-sm-8">
                                    <button type="reset" class="btn btn-default">重置</button>
                                    <button type="button"  onclick="checkForm()" class="btn btn-info pull-right">提交</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer row">

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>
{include file="public:js" /}

<script type="text/javascript">
    var editor;
    $(function () {
        //具体参数配置在  editor_config.js 中
        var options = {
            zIndex: 999,
            initialFrameWidth: "100%", //初化宽度
            initialFrameHeight: 400, //初化高度
            focus: false, //初始化时，是否让编辑器获得焦点true或false
            maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
            pasteplain:true, //是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
            autoHeightEnabled: true,
            indentValue: '2em',
            /*   autotypeset: {
                   mergeEmptyline: true,        //合并空行
                   removeClass: true,           //去掉冗余的class
                   removeEmptyline: false,      //去掉空行
                   textAlign: "left",           //段落的排版方式，可以是 left,right,center,justify 去掉这个属性表示不执行排版
                   imageBlockLine: 'center',    //图片的浮动方式，独占一行剧中,左右浮动，默认: center,left,right,none 去掉这个属性表示不执行排版
                   pasteFilter: false,          //根据规则过滤没事粘贴进来的内容
                   clearFontSize: false,        //去掉所有的内嵌字号，使用编辑器默认的字号
                   clearFontFamily: false,      //去掉所有的内嵌字体，使用编辑器默认的字体
                   removeEmptyNode: false,      //去掉空节点
                                                //可以去掉的标签
                   removeTagNames: {"font": 1},
                   indent: false,               // 行首缩进
                   indentValue: '0em'           //行首缩进的大小
               }*/
        };
        editor = new UE.ui.Editor(options);
        editor.render("post_content");
    });




    function checkForm(){
        if($('input[name="name"]').val() == ''){
            alert("请填写文章标题！");
            return false;
        }
//        if($('#cat_id').val() == '' || $('#cat_id').val() == 0){
//            alert("请选择文章类别！");
//            return false;
//        }
        if($('#post_content').val() == ''){
            alert("请填写文章内容！");
            return false;
        }
        $('#add_post').submit();
    }


    /*
     * 上传图片 后台专用
     * @access  public
     * @null int 一次上传图片张图
     * @elementid string 上传成功后返回路径插入指定ID元素内
     * @path  string 指定上传保存文件夹,默认存在Public/upload/temp/目录
     * @callback string  回调函数(单张图片返回保存路径字符串，多张则为路径数组 )
     */
    function GetUploadify(num,elementid,path,callback)
    {
        var upurl ="{:url('home/Uploadify/upload')}"+'?num='+num+'&input='+elementid+'&path='+path+'&func='+callback;

        var iframe_str='<iframe frameborder="0" ';
        iframe_str=iframe_str+'id=uploadify ';
        iframe_str=iframe_str+' src='+upurl;
        iframe_str=iframe_str+' allowtransparency="true" class="uploadframe" scrolling="no"> ';
        iframe_str=iframe_str+'</iframe>';
        $("body").append(iframe_str);
        $("iframe.uploadframe").css("height",$(document).height()).css("width","100%").css("position","absolute").css("left","0px").css("top","0px").css("z-index","999999").show();
        $(window).resize(function(){
            $("iframe.uploadframe").css("height",$(document).height()).show();
        });
    }
</script>
</body>
</html>