<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息管理平台</title>
    {include file="public:css" /}
    <style type="text/css">
        html{background-color: #f5f5f5}
        .table thead {background-color: #ccc;}


    </style>
</head>
<body>
    <div class="panel panel-info well">
        <div class="panel-heading">
            <h4 class="panel-title">
                <b class="replyform">查询</b>
            </h4>
        </div>
        <div class="panel-body">
            <div class="col-sm-12">
                <form class="form-horizontal" id="mysearch">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="mobile" id="mobile" placeholder="请输入手机" value="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="key_word" id="key_word" placeholder="请输入用户" value="">
                            </div>
                        </div> 
                        <div class="col-sm-4">
                           <div class="col-sm-12">
                               <select name="pay_status" id="pay_status" class="form-control">
                                   <option value="">全部支付状态</option> 
                                   {volist name="pay_status" id="vo"}                 
                                   <option value="{$key}">{$vo}</option>
                                   {/volist}
                               </select>
                           </div>    
                       </div>              
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="add_time" id="add_time" placeholder="请输入下单日期" value="" readonly="">
                            </div>
                        </div>

                        <div class="col-sm-4">
                           <div class="col-sm-12">
                               <select name="order_status" id="order_status" class="form-control">
                                   <option value="">全部订单状态</option> 
                                   {volist name="order_status" id="vo"}                 
                                   <option value="{$key}">{$vo}</option>
                                   {/volist}
                               </select>
                           </div>    
                       </div>
                       <div class="col-sm-4">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="order_id" id="order_id" placeholder="请输入订单ID" value="">
                            </div>
                        </div>               
                    </div>

                    

                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button type="reset" class="col-sm-5 btn btn-danger">重置</button>
                            <span class="pull-right col-sm-5 btn btn-primary mysearch_btn">搜索</span>
                        </div> 
                          
                    </div>

                </form>    
            </div>
        </div>
    </div>

    <div class="well well-sm" >
        <div id="toolbar">
            <!-- <button id="add" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i> 导入数据
            </button> -->
            <button id="more_del" class="btn btn-warning">
                <i class="glyphicon glyphicon-minus"></i> 批量删除
            </button>
            <!--<a href="{:url('index/Goods/index')}" target="_blank" id="myhome" class="btn btn-info">-->
                <!--<i class="glyphicon glyphicon-home"></i> 网站首页-->
            <!--</a>-->
            <!-- <button type="button" onclick="window.open('{:url('wap/book/index')}')" class="btn btn-primary"><i class="fa fa-plus"></i> 添加新订单</button> -->
            <!-- <button type="button" onclick="window.open('{:url('tableStatus')}')" class="btn btn-info"><i class="fa fa-plus"></i> 订桌状态</button> -->
            
        </div>
        <table class="table text-center table-hover table-condensed" data-toolbar="#toolbar" data-toggle="table" data-sort-name="id" data-sort-order="desc" data-url="{$url}" data-side-pagination="server" data-pagination="true" data-page-list="[10, 20, 50, 100, 200]" data-show-refresh="true" data-search="false" data-show-export="true" data-filter-control="true" data-filter-show-clear="true" >
            <thead>
                <tr>
                    <th data-halign="center" data-field="state" data-checkbox="true" ></th>
                    <th data-halign="center" data-field="apply_id" data-filter-control="input" >ID</th>
                    <th data-halign="center" data-field="order_id" data-filter-control="input" >订单ID</th>
                    <th data-halign="center" data-field="name" data-filter-control="input" >收货人</th>
                    <th data-halign="center" data-field="mobile" data-filter-control="input" >手机号</th>
                    <th data-halign="center" data-field="add_time" data-filter-control="input">下单时间</th>
                    <th data-halign="center" data-field="order_status" data-filter-control="input">订单状态</th>

                    <th data-halign="center" data-field="operate" data-formatter="operateFormatter" data-events="operateEvents" >操作</th>
                </tr>
            </thead>
        </table>
    </div>
    {include file="public:js" /}
    <link href="__PUBLIC__/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
    /*<input type="text" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')"  onchange="ajaxUpdateField(this);" name="store_count" size="4" data-table="goods" data-id="{$list.goods_id}" value="{$list.store_count}"/>   
                    </td>
                    <td class="text-center">                        
                        <img width="20" height="20" src="__PUBLIC__/images/{if condition='$list["is_on_sale"] eq 1'}yes.png{else /}cancel.png{/if}" onclick="changeTableVal('goods','goods_id','{$list.goods_id}','is_on_sale',this)"/}
                    </td>*/
        //function viewFormatter(value, row, index) {
            
            /*if(value){

                return [
                        '<span class="glyphicon glyphicon-ok text-success" date-index='+index+'></span>'
                    ].join('');
            }
            else{
                
                return [
                        '<span class="glyphicon glyphicon-remove text-danger"></span>'
                    ].join('');
            }*/

        

        function operateFormatter(value, row, index) {
            
            return [
                '<a href="javascript:void(0);" class="btn-icon view btn btn-sm btn-info" title="查看">查看</a>'].join('');
                /*     '  <a href="javascript:void(0);" class="edit btn btn-sm btn-primary" title="编辑">编辑</a>', '  <a href="javascript:void(0);" class="view btn btn-sm btn-warning" title="查看">查看</a>', '  <a href="javascript:void(0);" class="success btn btn-sm btn-info" title="完成">完成</a>', '  <a href="javascript:void(0);" class="refund btn btn-sm btn-danger" title="退款">退款</a>'
                ].join('');*/
              
        }

        window.operateEvents = {
          //查看
           'click .view': function (e, value, row, index) {
               //var url = $(this).data('url');
               var url = "{:url('editApplyOrder')}"+"?act=view&apply_id="+row.apply_id;
               location.href=url;
               //window.open(url);
           },
           /* 

            // 编辑
            'click .edit': function (e, value, row, index) {
                var url = "{:url('editOrder')}"+"?act=edit&order_id="+row.order_id;
                location.href=url;

            },
            //完成
           'click .success': function (e, value, row, index) {
               //var url = $(this).data('url');
               var url = "{:url('editOrder')}"+"?act=success&order_id="+row.order_id;
               window.open(url);
           },

            // 退款
            'click .refund': function (e, value, row, index) {
                var url = "{:url('editOrder')}"+"?act=refund&order_id="+row.order_id;
                location.href=url;

            },*/

            // 删除
            /*'click .remove': function (e, value, row, index) {
                $.ajax({
                    url: "{:url('delGoods')}",
                    type: 'POST',
                    dataType: 'json',
                    data: {id: row.goods_id},
                    success: function(data){
                        if( data.status == 1 ){
                            $(".table tr[data-index="+index+"]").remove();
                        }else{
                            layer.msg(data.msg, {icon: 2}); 
                        }

                    }
                })
            },*/
        };

        $(function(){
            //订单
            $('#add_time').daterangepicker({
                format:"YYYY/MM/DD",
                singleDatePicker: false,
                showDropdowns: true,
                minDate:'2017/01/01',
                maxDate:'2030/01/01',
                startDate:'<?=date("Y/m/d", strtotime("-7 days"))?>',
                ranges: {
                   '今天': [moment(), moment()],
                   '昨天': [moment().subtract('days', 1), moment().subtract('days', 1)],
                   '最近7天': [moment().subtract('days', 6), moment()],
                   '最近30天': [moment().subtract('days', 29), moment()],
                   '上一个月': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                locale : {
                    applyLabel : '确定',
                    cancelLabel : '取消',
                    fromLabel : '起始时间',
                    toLabel : '结束时间',
                    customRangeLabel : '自定义',
                    daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                    monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],
                    firstDay : 1
                }
            });

            $('.form_date').datetimepicker({
                language: 'zh-CN',
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });

            $(".mysearch_btn").click(function(event) {

                var search = $("#mysearch").serialize();
                var url = "{:url('orderapply')}"+"?"+search;
                $(".table").bootstrapTable('refresh', {
                    url: url
                });

            });

            //收缩表单
            $('.panel-heading').click(function(){
                $(".panel-body").toggle(1000);
                $(".panel-heading i").toggleClass("fa-chevron-up").toggleClass("fa-chevron-down");
            });

            $('#add').click(function(event) {
                layer.open({
                    title:'新增',
                    type: 2,
                    area: ['400px', '300px'],
                    fix: false, //不固定
                    maxmin: true,
                    content: "{:url('moreAdd')}",
                    end: function(){
                        $(".table").bootstrapTable('refresh');
                    }
                });
            });

            //更新
            $('.myrefresh').click(function(event) {
                $(".table").bootstrapTable('refresh');
            });

            //批量删除
            $("#more_del").click(function(event) {
              var obj = $(".table").bootstrapTable('getSelections');
              var str = '';
              for ( var o in obj) {
                str = str + obj[o].goods_id + ",";        
              };  


         

              if( str!='' ){
                //询问框
                layer.confirm('您确定要批量删除么？', {
                  btn: ['确定','取消'] //按钮
                }, function(index){
                    layer.close(index);

                    $.ajax({
                        url: "{:url('delOrder')}",
                        type: 'POST',
                        dataType: 'json',
                        data: {id: str},
                        success: function(data){
                            if( data.status ){
                                
                                $(".table").bootstrapTable('refresh');
                            }else{
                                layer.msg(data.msg, {icon: 2}); 
                            }

                        }
                    })
                }, function(){
                  
                });

                
              }else{
                layer.alert('请选择需要删除的!');
              }
            });

            
            $('input[name=btSelectAll]').after(" 全选 ");

           
        })

    </script>
</body>
</html>